
:host.selected {
  background-color: slateblue; /* Highlight color */
  border-left: 4px solid #0078d7; /* Example border for selected item */
}

:host(:hover) {
  background-color: slateblue; /* Subtle highlight on hover */
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}