mat-list {
    display: flex;
    flex-direction: column;
    margin: 3vw;
    border: 1px solid gray;
    overflow-y: scroll;
    height: 80vh;
    padding: 0;
}

.file-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer !important; /* Make the cursor a pointer on hover */
}



