// Ensure app-root takes up 100% of the page
app-root {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden; // Prevent scrollbars when unnecessary
}


// Ensure .content-container takes up all available space after the navbar
.navbar-container {
  flex-shrink: 0; // Prevent shrinking
  z-index: 10; // Ensure navbar stays above other elements
}

.content-container { // Allow it to grow and take up remaining space
  display: block; // Change to block layout to occupy full space
  width: 100%; // Ensure it spans the full width
  height: 100%; // Ensure it spans the full height of the remaining space
  overflow: hidden; // Prevent scrollbars when unnecessary
}

